@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.notfoundpage {
    background-color: $lavender;
    width: 100vw;
    height: 100vh;
}