@use '../../../styles/partials/fonts' as *;
@use '../../../styles/partials/colors' as *;
@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;

.chat {
    width: 100%;
    max-width: 905px;
    min-height: 100vh;
    background-color: $white;

    &__none {
        width: 100%;
        max-width: 905px;
        min-height: 100vh;
        background-color: $white;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &-text {
            margin: 0;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        background-color: $teagreen;
        padding: 1rem;
    }

    &__back-button {
        color: $darkpurple;
        background-color: $sunglow;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        margin: 0 1rem 0 0;

        &:hover {
            background-color: $orange;
        }
    }

    &__name {
        margin: 0;
    }
}