@use './styles/partials/fonts' as *;
@use './styles/partials/colors' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

//this is for global styling
*, *::before, ::after {
    box-sizing: border-box;
  }
  
  //Page Header
  h1 {
    font-family: "Avenir";
    font-size: 2rem;
    font-weight: 700;
  }
  
  //Section Header
  h2 {
    font-family: "Avenir";
    font-size: 0.875rem;
    font-weight: 700;
  }
  
  //Subheader
  h3 {
    font-family: "Avenir";
    font-size: 0.75rem;
    font-weight: 700;
  
    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
  
  body {
    font-family: "Avenir";
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: $grey;

    @include desktop {
    display: flex;
    justify-content: center;
    }
  }