@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
